.joinNowDiv {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joinNowImageDiv {
  top: -2vw;
  bottom: 3vw;
  position: absolute;
}
.manSittingImg2 {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}
.joinNowContent{
  position: relative;
  text-align: center;
  color: white;
  padding: 2rem;
  margin: auto 0;
}