.joinNowDiv {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joinNowImageDiv {
  top: -2vw;
  bottom: 3vw;
  position: absolute;
}
.manSittingImg2 {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}
.joinNowContent{
  position: relative;
  text-align: center;
  color: white;
  padding: 2rem;
  margin: auto 0;
}
.joinNowContent h2 {
  font-size: 67px;
  padding-bottom: 2rem;
}
.joinNowButton{
  margin-top: 2rem;
  color: #000;
  background-color: #F9CD47;
}

@media only screen and (max-width: 50em){
  .joinNowContent h2 {
    font-size: 45px;
    padding-bottom: 2rem;
  }
  .joinNowContent h4 {
    font-size: 20px;
  }
}