body a{
  color: #23272e;

}
body {
  background-color:#EBEADF;
}
.yakButton{
  padding: 1.4em 2.4em 1.4em 2.4em;
  font-weight: 700;
  border: none;
}
.yakButtonMobile{
  padding: 1em 3em 1em 3em;
  font-weight: 700;
  border: none;
}
h1, h2, h3, h4, h5, p, a, button, ul, li {
  font-family: 'Josefin Sans', sans-serif;
}