.footer {
  padding-right: 3vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerTitleDiv h3{
  padding-bottom: 7rem;
}
.footerLinksDiv{
  margin-right: 14rem;
}
.footerLinksDiv ul {
  text-decoration: underline;
  list-style: none;
  padding-left: 0;
}
.footerLinksDiv ul li {
  line-height: 2rem;
}
.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.socialIcons i {
  font-size: 20px;
  margin-right: 2rem;
}

@media only screen and (max-width: 50em){
  .footerTitleDiv h3{
    padding-bottom: 2rem;
    font-size: 20px;
  }
  .footer {
    padding: 3rem 1.5rem 3rem 1.5rem;
  }
  .socialIcons i {
    font-size: 20px;
    margin-right: 1rem;
  }
  .footerLinksDiv ul {
    padding-bottom: 1rem;
  }
}