/*.nav {
  width: 100%;
  background-color: #ebeadf;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  pointer-events: none;
}
.navTitle {
  color: #23272e;
  text-decoration: none;
  font-size: 30px;
}
.navTitle:hover{
  text-decoration: none;
  color: #23272e;
}
.navAbout {
  color: #23272e;
  font-size: 16px;
}
.nav-wrapper{
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1.8vw;
  padding-bottom: 1.8vw;
  padding-left: 3vw;
  padding-right: 1vw;
  pointer-events: auto;
}

.nav-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
}

.joinButton {
  color: #fff;
  background-color: #000;
}*/

.BurgerMenu {
  position: fixed;
  right: 1.5em;
  top: 2.25em;
  height: .1em;
  width: 2.5em;
  border-radius: 1em;
  background: #23272e;

  &:before {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    top: -.75em;
    height: .1em;
    width: 2.5em;
    border-radius: 1em;
    background: #23272e;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: .75em;
    height: .1em;
    width: 2.5em;
    border-radius: 1em;
    background: #23272e;
    transition: all .25s;
  }
}

.Navigation {
  text-align: center;
  padding: .5em 0;
  width: 100%;
  background: #ebeadf; // grass green
  color: #23272e;
  z-index: 999;
  
  a {
    // inline-block allows v. alignment
    display: inline-block;
    padding: .5em;
    vertical-align: middle;
    text-decoration: none;
    transition: all .4s;

    &:focus {
      background: black;
      color: #23272e;
    }

    &:link, &:visited {
      color: #23272e;
    }

    &:hover, &:active {
      background: rgba(34, 34, 34, .25);
    }
  }
  
  li {
    display: inline;
    font-size: 32px;
    font-size: 2rem;
  }
  
  &--collapsed {
    display: none;
    position: fixed;
    border-radius: .5em;
    top: 0.875em;
    right: 1.125em;
    height: 3.25em;
    width: 3.25em;
    z-index: 1;
    cursor: pointer;
    transition: all .25s;
  }
  
  &-list {
    display: inline-block;
    text-align: center;
  }
  
  &-smallLogo {
    display: inline-block;
    padding-right: 1em;
    vertical-align: middle;
    font-weight: bold;
    font-style: italic;
  }
}

.Overlay {
  display: inline-block;
  vertical-align: middle;
}

// media queries to show/hide elements
@media only screen and (max-width: 50em){
  // go to fixed and add margin to content
  
  .BurgerMenu {
    &--on {
      background-color: transparent;
      transition: all .25s;
      &:before {
        transition: all .25s;
        content: "";
        transform: rotate(45deg);
        top: 0px;
      }
      &:after {
        transition: all .25s;
        content: "";
        transform: rotate(-45deg);
        top: 0px;
      }
    }
  }
  
  .Navigation {
    &--collapsed {
      display: block;
      z-index: 999;
    }

    &-list {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      
      li {
        display: block;
        position: relative;
        height: 25%;
        height: calc(100% / 4);
        min-height: 4em;
      }
    }
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: #ebeadf;
    z-index: 999;
    
    &--on {
      height: 100%;
      visibility: visible;
      opacity: 1;
      z-index:998;
    }
  }
}
