.LearnMoreContainer{
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.learnMoreDiv {
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
  padding-left: 3vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.learnMoreContent {
  margin: auto 0;
  margin-right: 3rem;
}

.LearnMoreImage {
  height: 80%;
}

.learnMoreTitle {
  font-size: 40px;
  padding-bottom: 2rem;
}
.learnMoreText {
  line-height: 2rem;
  font-size: 16px;
  padding-bottom: 2rem;
}
.joinButton{
  color: #fff;
  background-color: #000;
}

@media only screen and (max-width: 50em){
  .LearnMoreContainer{
    width: 100%;
  }
.learnMoreDiv {
  padding-top: 0;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
  .LearnMoreImage {
    height: 100%;
    width: 95%;
  }
  
.learnMoreTitle {
  font-size: 30px;
  padding-bottom: 1rem;
}
.learnMoreText {
  line-height: 1.8rem;
  font-size: 15px;
  padding-bottom: 1rem;
}
.joinButton{
  color: #fff;
  background-color: #000;
  margin-bottom: 2rem;
}
}