.pricing {
  padding-top: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  text-align: center;
  width: 100%;
}

.pricingDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pricingDiv div {
  padding: 2rem;
  width: 33%;
}

.pricingExplore{
  text-decoration: underline;
  font-size: 24px;
  padding-top: 2rem;
}
.price{
  padding-bottom: 2rem; 
}
.pricingDiv div p {
  line-height: 2rem;
}