.obstacleBackground {
  padding-top: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  min-height: 66vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.obstacleImage{
  top: 3vw;
  right: 3vw;
  bottom: 3vw;
  left: 3vw;
  position: absolute;
}
.leafBackground {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}
.obstacleContent {
  position: relative;
  text-align: center;
  color: white;
  padding: 2rem;
  margin: auto 0;
}
.obstacleTitle {
  font-size: 40px;
}
.obstaclePoints {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.obstaclePoints div {
  padding: 2rem;
}
.obstaclePoints div h4 {
  padding-bottom: 2rem;
}

@media only screen and (max-width: 50em){
  .obstacleTitle {
    font-size: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  .obstaclePoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .obstaclePoints div h4 {
    font-size: 22px;
    padding-bottom: 2rem;
  }
  .obstacleContent {
    padding: 1rem;
  }
  .obstaclePoints div {
    padding: 1rem;
  }
  .obstaclePoints div p{
    font-size: 15px;
    line-height: 1.8rem;
  }
}